* {
  /*
  Esse * é o seletor universal, ou seja, tudo que estiver aqui dentro vai ser valido para o codigo inteiro. 
  Essas informações que foram inseridas aqui servem para remover o padrao aplicado altomaticamente pelo navegardor . 
  */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-url: url(./assets/assets/bg-mobile.jpg);
  --strole-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.05);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/assets/moon-stars.svg);
}
.light {
  --text-color: black;
  --bg-url: url(./assets/assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.05);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/assets/sun.svg);
}
body {
  /*
  http://127.0.0.1:5500/index.html#
  background-image: url(./assets/assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  A função background: pode juntar todas as coisas nela de uma só vez, mas precisa seguir o procedimento a seguir
  background: color image repeat position/size
  lembrar que para o size usa barra e não o espaço. 
*/
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
}
body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
  /* 
  Identifiquei a fonte no figma, fui no fotns.google.com e pesquisei pela fonte identificada. La vc seleciona toda a familia de fontes que vai usar e copia o codigo para o inicio do html; e depois copia esse fon-family lá do site e cola aqui. A cor ele tambem identificou pelo figma.
  */
}
#container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;
  padding: 0px 24px;
}
/* profile*/
#profile {
  text-align: center;
  padding: 24px;
}
#profile img {
  width: 112px;
}
#profile {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}
/* switch*/
#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}
#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  animation: slide-back 0.3s;
}
.light #switch button {
  animation: slide-in 0.3s forwards;
}

#switch button:hover {
  outline: 8px solid var(--highlight-color);
}
#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}
/* Links */
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}
ul li a {
  border-radius: 8px;
  border: 1px solid var(--stroke-color);

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px 24px;

  background: var(--surface-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  transition: background 0.3s;
}
ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}
#social-links {
  display: flex;
  padding: 24px 0;
  font-size: 24px;
  justify-content: center;
}
#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  transition: 0.2s;
  border-radius: 56px;
}
#social-links a:hover {
  background: var(--highlight-color);
}
footer {
  padding: 24px 0;
  font-size: 14px;
  text-align: center;
}

@media (min-width: 700px) {
  :root {
    --br-url: url(./assets/assets/bg-desktop.jpg);
  }
  .light {
    --bg-url: url(./assets/assets/bg-desktop-light.jpg);
  }
}

/* animações */
@keyframes slide-in {
  from {
    left:0;
  }
  to {
    left: 50%;
  }
}
@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left:0;
  }
}